.btn {
    &__content {
    display: inline-block;
    border-radius: 3rem;
    background: $gradient;
    background-size: 105%;
    text-align: center;
    box-shadow: map-get($shadow, btn);
    padding: 1.5rem 2.5rem;
    margin-top: 2.5rem;

    color: $color-white;
    letter-spacing: 0.05rem;
    
    transition: all .2s ease-out;
        &:hover {
            background-position: left;
        }
        &:active {
            transform:translatey(2px);
            box-shadow: none;
        }
    }
}
