footer {
    background-color: $color-anthracite;
    padding: 2.5rem 2rem;
    font-size: 1.5rem;
    line-height: 1.7;
    & img {
        height: 2rem;
        margin-bottom: 1rem;
        filter: invert(100%) sepia(2%) saturate(6%) hue-rotate(336deg) brightness(104%) contrast(102%);
    }
    & i, a {
        padding-right: 1rem;
        color: $color-white;
    }
}