.parallax {
    height: 25rem;
    width: 100vw;
    background-image: url(/public/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 100% center;
    background-repeat: no-repeat;
    background-clip: border-box;
}
main {
    background-color: $color-lightgrey;
}
.menu {
    background-color: $color-lightgrey;
    border-radius: 3rem 3em 0 0;
    padding: 3rem 2rem;
    transform: translateY(-2.5rem);
    &__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.5rem;
        & h1 {
            font-family: 'Shrikhand', serif;
            font-size: 3rem;
        }
    }
    &__content {
        margin-bottom: 5rem;
        &:not(.menu__content__title) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.5rem;
        }
        & h2 {
            font-size: 1.6rem;
            font-weight: 400;
            text-transform: uppercase;
        }
        & hr {
            background-color:  $color-tertiary;
            border: none;
            width: 4rem;
            height: 0.3rem;
            margin-top: 0.5rem;
        }
        &__card {
            height: 7rem;
            width: 100%;
            max-width: 350px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: nowrap;
            background-color: $color-white;
            box-shadow: map-get($shadow, card);
            overflow: hidden;
            border-radius: 1.5rem ;
            cursor: pointer;
            &__text {
                flex: 2 2;
                width: 100%;
                max-width: 28rem;
                overflow: hidden;
                text-align: left;
                white-space: nowrap;
                text-overflow: clip ellipsis;
                padding: 1.5rem;
            }
            & span {
                flex: 1 1;
                max-width: 6rem;
                height: 100%;
                width: 100%;
                padding: 4rem 1rem 1.5rem 1rem;
                display: block;
                background-color: $color-white;
                text-align: center;
                font-weight: 800;
                font-size: 1.6rem;
            }
            &__check {
                flex: 1;
                width: 100%;
                max-width: 7rem;
                background-color: $color-tertiary;
                margin-right: -300px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;

                & .checkIcon::before {
                    color: $color-white;
                }
            }
            &:hover .menu__content__card__check{
                margin-right: 0;
                transition: all 0.4s ease-in-out;
                & i {
                    transform: rotate(1);
                }
            }

                            // &__text {
                //     width: 100%;
                //     overflow: hidden;
                //     text-align: left;
                //     white-space: nowrap;
                //     text-overflow: ellipsis;
                //     padding: 1.5rem;
                // }
                // & span {
                //     width: 7rem;
                //     padding: 4rem 1rem 1.5rem 1rem;
                //     display: block;
                //     background-color: $color-white;
                //     text-align: center;
                //     font-weight: 800;
                //     font-size: 1.6rem;
                // }
                // &__check {
                //     width: 7rem;
                //     background-color: $color-tertiary;
                //     text-align: center;
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                //     transform:  translateX(7rem);
                //     & .checkIcon::before {
                //         color: $color-white;
                //     }
                // }
                // &:hover > .menu__content__card__check{
                //     transform:  translateX(0);
                //     & i {
                //         transform: rotate(1);
                //     }
                
        }         
    }
}
